<section id="custom-header" data-size="9">
    <div class="col-md-7 links">
        <ul>
            <li>
                <a href="" class="selected">My channels</a>
            </li>

            <li>
                <a href="#!/channels">All channels</a>
            </li>
        </ul>
    </div>

    <div class="col-md-5 buttons">
        <div class="pull-right">
            <a href="" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Add channel
            </a>
        </div>
    </div>
</section>

<section id="custom-panel">
    <div id="pick-date">
        <a href="" title="Previous"><i class="fa fa-arrow-left"></i></a>
        <strong>Monday.</strong> 11/28/2017
        <a href="" title="Next"><i class="fa fa-arrow-right"></i></a>
    </div>
</section>


<main>
    <div class="group channels">
        <div class="column time-clue"></div>

        <div class="column" ng-repeat="schedule in schedules">
            <div class="channel">
                {{schedule.channel.name}}

                <a href="" class="follow"><i class="fa fa-heart"></i></a>
            </div>
        </div>
    </div>



    <div class="group now">
        <div class="column time-clue"></div>

        <div class="column">
            <div class="transmission followed">
                <div class="heading">
                    <div class="time">Now</div>

                    <div class="status">
                        <div class="progress">
                            <div class="progress-bar" style="width:40%"></div>
                        </div>
                    </div>
                </div>

                <h3>
                    <a href="">Shark Bites (1)</a>
                </h3>

                <div class="info">
                    <div class="type">
                        <span>Documentary</span>
                    </div>
                    <div class="attributes">
                        <span data-toggle="tooltip" title="Language">EN</span>
                        <span data-toggle="tooltip" title="Age Availability">15+</span>
                        <span data-toggle="tooltip" title="Rerun"><i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Integer malesuada. Neque porro quisquam
                    est, qui dolorem ipsum...
                </div>
            </div>
        </div>

        <div class="column">
            <div class="transmission">
                <div class="heading">
                    <div class="time">Now</div>

                    <div class="status">
                        <div class="progress">
                            <div class="progress-bar" style="width:40%"></div>
                        </div>
                    </div>
                </div>

                <h3>
                    <a href="">Shark Bites (1)</a>
                </h3>

                <div class="info">
                    <div class="type">
                        <span>Documentary</span>
                    </div>
                    <div class="attributes">
                        <span data-toggle="tooltip" title="Language">EN</span>
                        <span data-toggle="tooltip" title="Age Availability">15+</span>
                        <span data-toggle="tooltip" title="Rerun"><i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Integer malesuada. Neque porro quisquam
                    est, qui dolorem ipsum...
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Integer malesuada. Neque porro quisquam
                    est, qui dolorem ipsum...
                </div>
            </div>
        </div>

        <div class="column">
            <div class="transmission">
                <div class="heading">
                    <div class="time">Now</div>

                    <div class="status">
                        <div class="progress">
                            <div class="progress-bar" style="width:40%"></div>
                        </div>
                    </div>
                </div>

                <h3>
                    <a href="">Shark Bites (1)</a>
                </h3>

                <div class="info">
                    <div class="type">
                        <span>Documentary</span>
                    </div>
                    <div class="attributes">
                        <span data-toggle="tooltip" title="Language">EN</span>
                        <span data-toggle="tooltip" title="Age Availability">15+</span>
                        <span data-toggle="tooltip" title="Rerun"><i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Integer malesuada. Neque porro quisquam
                    est, qui dolorem ipsum...
                </div>
            </div>
        </div>

        <div class="column">
            <div class="transmission">
                <div class="heading">
                    <div class="time">Now</div>

                    <div class="status">
                        <div class="progress">
                            <div class="progress-bar" style="width:40%"></div>
                        </div>
                    </div>
                </div>

                <h3>
                    <a href="">Shark Bites (1)</a>
                </h3>

                <div class="info">
                    <div class="type">
                        <span>Documentary</span>
                    </div>
                    <div class="attributes">
                        <span data-toggle="tooltip" title="Language">EN</span>
                        <span data-toggle="tooltip" title="Age Availability">15+</span>
                        <span data-toggle="tooltip" title="Rerun"><i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Integer malesuada. Neque porro quisquam
                    est, qui dolorem ipsum...
                </div>
            </div>
        </div>

        <div class="column">
            <div class="transmission">
                <div class="heading">
                    <div class="time">Now</div>

                    <div class="status">
                        <div class="progress">
                            <div class="progress-bar" style="width:40%"></div>
                        </div>
                    </div>
                </div>

                <h3>
                    <a href="">Shark Bites (1)</a>
                </h3>

                <div class="info">
                    <div class="type">
                        <span>Documentary</span>
                    </div>
                    <div class="attributes">
                        <span data-toggle="tooltip" title="Language">EN</span>
                        <span data-toggle="tooltip" title="Age Availability">15+</span>
                        <span data-toggle="tooltip" title="Rerun"><i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Integer malesuada. Neque porro quisquam
                    est, qui dolorem ipsum...
                </div>
            </div>
        </div>

        <div class="column">
            <div class="transmission">
                <div class="heading">
                    <div class="time">Now</div>

                    <div class="status">
                        <div class="progress">
                            <div class="progress-bar" style="width:40%"></div>
                        </div>
                    </div>
                </div>

                <h3>
                    <a href="">Shark Bites (1)</a>
                </h3>

                <div class="info">
                    <div class="type">
                        <span>Documentary</span>
                    </div>
                    <div class="attributes">
                        <span data-toggle="tooltip" title="Language">EN</span>
                        <span data-toggle="tooltip" title="Age Availability">15+</span>
                        <span data-toggle="tooltip" title="Rerun"><i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Integer malesuada. Neque porro quisquam
                    est, qui dolorem ipsum...
                </div>
            </div>
        </div>

        <div class="column">
            <div class="transmission">
                <div class="heading">
                    <div class="time">Now</div>

                    <div class="status">
                        <div class="progress">
                            <div class="progress-bar" style="width:40%"></div>
                        </div>
                    </div>
                </div>

                <h3>
                    <a href="">Shark Bites (1)</a>
                </h3>

                <div class="info">
                    <div class="type">
                        <span>Documentary</span>
                    </div>
                    <div class="attributes">
                        <span data-toggle="tooltip" title="Language">EN</span>
                        <span data-toggle="tooltip" title="Age Availability">15+</span>
                        <span data-toggle="tooltip" title="Rerun"><i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Integer malesuada. Neque porro quisquam
                    est, qui dolorem ipsum...
                </div>
            </div>
        </div>
    </div>



    <div class="group">
        <div class="column time-clue">
            <div>10:00</div>
        </div>

        <div class="column" ng-repeat="schedule in schedules">
            <div class="transmission" ng-repeat="occurrence in schedule.transmissionOccurrences">
                <div class="heading">
                    <div class="time">10:15</div>

                    <div class="options">
                        <a href="#!/details/{{ occurrence.transmission.id }}" data-toggle="tooltip" title="Details"><i class="fa fa-info-circle"></i></a>
                        <a href="" data-toggle="tooltip" title="Follow" class="follow"><i class="fa fa-star"></i></a>
                    </div>
                </div>

                <h3>
                    <a href="#!/details/{{ occurrence.transmission.id }}">
                        {{ occurrence.transmission.name }}
                        <span ng-if="occurrence.partName !== null">
                            ({{ occurrence.partName }})
                        </span>
                    </a>
                </h3>

                <div class="info">
                    <div class="type">
                        <span>{{ telemaniacs.transmissionTypeName(occurrence.transmission.transmissionType) }}</span>
                    </div>
                    <div class="attributes">
                        <span data-toggle="tooltip" title="Language">{{ occurrence.transmission.language }}</span>
                        <span data-toggle="tooltip" title="Age Availability">15+</span>
                        <span data-toggle="tooltip" title="Rerun" ng-if="occurrence.rerun"><i class="fa fa-refresh"></i></span>
                    </div>
                </div>

                <div class="description">
                    {{ occurrence.transmission.description.substr(0, 100) }}...
                </div>
            </div>
        </div>
    </div>
</main>